body {
    padding-top: 100px;
}

.navbar-brand {
    font-size: 30px;
}

h1 {
    font-size: 25px;
}

#exportButton {
    float: right;
}
  
h4 {
margin: 2rem 0rem 1rem;
}

.custom-control-input {
    position: relative;
    left: 20px;
}
